@import url("https://fonts.googleapis.com/css?family=Coming+Soon");

body {
  height: 100vh;
  margin: 0 0;
  padding: 10vh 0;
  font-family: "Coming Soon", cursive;
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/61f7685f-47e5-49a0-b5cb-ca6b8cab4228/drok89-a7a2a550-ba87-40a6-9701-b635550d55b3.jpg");
  background-position: center center;
  background-size: cover;
}
