.Palette {
    height: 97vh;
    display: flex;
    flex-direction: column;
}

.Palette-colors {
    height: 95%;
    margin: 0;
}

.Palette-footer {
    margin: 0;
    height: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

