h1 {
    font-size: 4rem;
    text-transform: uppercase;
    color: rgba(248, 224, 147, 0.7);
    text-shadow: 0px 2px 1px rgba(78, 27, 1, 0.9), 8px 6px 3px rgba(31, 12, 1, 0.6);
}

button {
    margin-bottom: 5vh;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.5rem;
    background-color: rgb(27, 9, 1);
    color: rgb(248, 229, 168);
    outline: transparent;
    border-color: transparent;
    box-shadow: none;
    transition: 200ms;
    box-shadow: 8px 8px 3px rgba(31, 12, 1, 0.55);
}

button:hover {
    box-shadow: 5px 5px 3px rgba(31, 12, 1, 0.85);
}

button:active {
    transform: translateY(4px);
    box-shadow: none;
}