.App {
  font-size: 18px;
  display: grid;
  text-align: center;
}

h1 {
  font-family: 'Rouge Script', cursive;
  color: rgb(49, 40, 26);
  text-shadow: 3px 4px 4px rgba(49, 40, 26, 0.3), -3px -2px 2px rgba(243, 233, 213, 0.774);
  font-size: 6rem;
}
