.JokeList {
    width: 90vw;
    display: flex;
    height: 80%;
    font-size: 2rem;
    color: rgb(49, 40, 26);
}

.JokeList-sidebar {
    background-color: rgba(222, 184, 135, 0.589);
    border-radius: 50%;
    min-width: 30%;
    margin: 0 5% auto 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.342);
    zoom: 0.8;
}

.JokeList-sidebar img {
    min-height: 350px;
    clip-path: inset(40px 40px);
    filter: contrast(3) opacity(0.92);
    mix-blend-mode: multiply;
    object-fit: contain;
}

.JokeList-jokes {
    zoom: 0.8;
    display: flex;
    flex-direction: column;
    min-width: 70%;
    max-width: 100%;
    height: 500px;
    justify-content: center;
    align-items: stretch;
    color: rgb(36, 36, 36);
    overflow-y: scroll;
}

.JokeList-getmore {
    background-color: rgb(36, 36, 36);
    color: #E1CEA2;
    margin-bottom: -50px;
    transform: translateY(-50px);
    flex-direction: column;
    border: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 10px 25px;
    align-self: center;
    border-radius: 20px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.342);
    cursor: pointer;
}