.Joke {
    min-width: 40vw;
    margin-right: 10vw;
    font-size: 16px;
    display: flexbox;
    border-bottom: 2px solid rgba(49, 40, 26, 0.288);
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    padding: 0.5rem;
    max-height: 10%;
}

.Joke-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
    margin: 0 10px;
}

.Joke-block {
    display: flex;
    flex-wrap: nowrap;
    padding-left: auto;
    flex-direction: row;
    justify-content: left;
    align-items: center;
   
}

.Joke-votes {
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    border: 3px solid red;
    box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);
}

.fa-arrow-up,
.fa-arrow-down {
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.3s;
}

.fa-arrow-up:hover {
  animation-name: move-up;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  color: #8bc34a;
}

@keyframes move-up {
    0%,
    50%,
    100% {
      transform: translateY(0);
    }
    25%,
    75% {
      transform: translateY(-3px);
    }
  }
  .fa-arrow-down:hover {
    animation-name: move-down;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    color: #f44336;
  }
  @keyframes move-down {
    0%,
    50%,
    100% {
      transform: translateY(0);
    }
    25%,
    75% {
      transform: translateY(3px);
    }
  }
.Joke-block-text {
    min-width: 100%;
    align-self: start;
}

.Joke-block-smiley {
    object-fit: scale-down;
    transform: scale(0.3, 0.3);
    
}


.Joke-block-smiley:hover {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg) scale(0.3);
    }
    30% {
        transform: rotate(20deg) scale(0.3);
    }    
    70% {
      transform: rotate(-20deg) scale(0.3);
    }
    100% {
      transform: rotate(20deg) scale(0.3);
    }
  }