.App {
  margin: 0rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.App-title {
  color: #e5ebeb;
  text-shadow: 2px 5px 8px #170444ab, 5px 8px 10px rgba(0, 0, 0, 0.1);
  margin: 1rem auto 0 auto;
  text-align: center;
  font-weight: 200;
  display: inline-block;
  letter-spacing: 3px;
  font-size: 3.5rem;
}
